<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>

	<system.serviceModel>
		<behaviors>
			<serviceBehaviors>
				<behavior name="MyBehaviour">
					<serviceMetadata/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<services>
			<service name="WcfServiceLibrary1.MessageService" behaviorConfiguration="MyBehaviour">
				<endpoint address="net.tcp://localhost:6565/MessageService" binding="netTcpBinding"
						  bindingConfiguration="" contract="WcfServiceLibrary1.IMessageService" />
				<endpoint address="net.tcp://localhost:6565/MessageService/mex" binding="mexTcpBinding"
						  bindingConfiguration="" contract="IMetadataExchange" />
			</service>
		</services>
	</system.serviceModel>

</configuration>